@font-face {
  font-family: 'Source Sans Pro';
  src: url(../fonts/SourceSansPro-Light.ttf);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 3.4rem;
  font-weight: 200;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: -1px;
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

p {
  line-height: 36px;
  margin: 25px 0;
}

.button {
  border: 1px solid #ccc;
  background-color: transparent;
  border-radius: 50px;
  padding: 13px 30px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  font: 700 0.75rem 'Source Sans Pro';
  transition: 0.3s;
}

.button:hover,
footer a:hover {
  border-color: skyblue;
  color: skyblue;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 55px;
}

/* ************************************************ */

main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img-banner {
  background: url('../img/banner.jpg') right/cover;
}
