@font-face {
  font-family: 'Source Sans Pro';
  src: url(../fonts/SourceSansPro-Light.ttf);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 3.4rem;
  font-weight: 200;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: -1px;
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

p {
  line-height: 36px;
  margin: 25px 0;
}

.button {
  border: 1px solid #ccc;
  background-color: transparent;
  border-radius: 50px;
  padding: 13px 30px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  font: 700 0.75rem 'Source Sans Pro';
  transition: 0.3s;
}

.button:hover,
footer a:hover {
  border-color: skyblue;
  color: skyblue;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 55px;
}

.section-1,
.section-2,
.contact {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.08);
}

/* ****************** Main section *********************** */

main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img-banner {
  background: url('../img/banner.jpg') right/cover;
}

/* ********************** Other sections ****************** */

.section-1,
.section-2 {
  display: grid;
  min-height: 400px;
}

.section-1 {
  grid-template-columns: 1fr 2fr;
}

.section-2 {
  grid-template-columns: 2fr 1fr;
}

.section-1 .img {
  background: url('../img/img-left.jpg') center/cover;
}

.section-2 .img {
  background: url('../img/img-right.jpg') center/cover;
}

/* ******************** Contact form ************************ */

.contact {
  text-align: center;
  padding: 60px 0;
}

.form-grid {
  width: 85%;
  max-width: 600px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 224px;
  grid-template-areas:
    'input1 input2'
    'textarea textarea';
  gap: 10px;
}

label {
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

input[type='text'],
input[type='email'],
textarea {
  width: 100%;
  margin: 20px 0 40px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 10px;
  transition: 0.2s;
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
  border: 1px solid skyblue;
}

textarea {
  resize: none;
  height: 180px;
}

.textarea {
  grid-area: textarea;
}

/* ******************** Footer ************************ */

footer {
  padding: 70px 0 90px;
  position: relative;
}

footer::before {
  content: '';
  position: absolute;
  width: 90%;
  height: 1px;
  background: rgba(0, 0, 0, 0.08);
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

footer ul {
  display: flex;
  justify-content: space-between;
  width: 33%;
  min-width: 300px;
  margin: 0 auto;
}

footer a {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

/* ***************** Media queries ******************** */

@media screen and (max-width: 650px) {
  main,
  .section-1,
  .section-2 {
    display: block;
  }
  main {
    height: auto;
  }
  main .img-banner {
    height: 50vh;
    margin-top: 30px;
  }
  .container {
    padding: 15px;
  }
  footer ul {
    min-width: 200px;
  }
  footer a {
    width: 24px;
    height: 24px;
  }
  footer i {
    font-size: 0.7rem;
  }
}
